name: "Publish"

on:
  push:
    tags:
      - v*

jobs:
  publish-and-release:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Build
        run: uv build --no-create-gitignore
      - name: Publish
        run: uv publish
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: dist/*
          fail_on_unmatched_files: true
